<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<table border="1">
    <thead>
    <tr>
        <td>username</td>
        <td>account</td>
        <td>qty</td>
        <td>description</td>
        <td>transactiontime</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="billing : ${billings}">
        <td th:text="${billing.username}"></td>
        <td th:text="${billing.account}"></td>
        <td th:text="${billing.qty}"></td>
        <td th:text="${billing.description}"></td>
        <td th:text="${billing.transactiontime}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>