<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skarbnik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Użytkownik</th>
            <th:block th:each="expense : ${expenses}">
                <th th:text="${expense.description}"></th>
            </th:block>
            <th>Saldo</th>
        </tr>
        <tr>
            <th></th>
            <th:block th:each="expense : ${expenses}">
                <th th:text="${expense.dueDate}"></th>
            </th:block>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${usersExpenses.keySet()}">
            <td th:text="${user}"></td>
            <th:block th:each="usersExpense : ${usersExpenses.get(user).usersExpenses}">
                <td>
                    <div th:switch="${usersExpense.payed}" style="align:center">
                        <span th:case="${false}">
                            <img th:src="@{/icons/false.png}" style="width:16px;height:16px"/>
                            <span th:text="'Saldo: ' + ${usersExpense.leftToPay} + ' PLN'"></span>
                        </span>
                        <span th:case="${true}">
                            <img th:src="@{/icons/true.png}" style="width:16px;height:16px"/>
                        </span>
                        <span th:case="*">Should never happen, but who knows...</span>
                    </div>
                </td>
            </th:block>
            <td th:text="${usersExpenses.get(user).balance}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
